.listar {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   align-content: center;
}

button {
   height: 50px;
   border: 3px solid black;
   font-size: large;
   margin-left: 3px;
}

input {
   height: 43px;
   font-size: large;
   margin-bottom: 40px;
}

.toHome {
   color: blue;
   font-size: 20px;
   padding-top: 25px;
   margin-left: 120px;
}
